.robot {
  height: 25px;
  width: 25px;
}

.hidden-robot {
  visibility: hidden;
}
.green-robot {
  color: green;
}

.red-robot {
  color: red;
}

.robot-column {
  text-align: center;
}

table.narrow-table {
  text-align: center;
  width: 66%;
}

table.narrow-table td {
  width: 33%;
}

.text-column {
  text-align: center;
}
.title-value {
  text-align: center;
  position: relative;
}
.title-value:hover {
  background-color: lightgray;
  border-radius: 5px;
}

.edit-panel {
  position: absolute;
  top: -3px;
  right: -3px;
  background-color: lightblue;
  padding: 3px 5px;
  border-radius: 10px;
}

.edit-icon {
  height: 25px;
  width: 25px;
  cursor: pointer;
  padding-left: 2px;
}
